  <!-- Blank Start -->
            <div class="col-12">
                <div class="bg-white rounded h-100 p-4">
                 
                    <a href="/admin/add-category" class="btn text-white" style="background-color:rgb(6, 29, 6) ;">Add Category</a> 
                    <div class="table-responsive text-center">
                        
                        <table class="table mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                   <th scope="col">Category</th>
                                   <th scope="col">Updations</th
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categoryDetails}}
                                <tr>
                                    <th scope="row">{{@index}}</th>
                                       <td>{{this.cname}}</td>
                                       
                                   
                                    <td>
                                       
                                        <button  type="button" class="btn m-2 text-white" style="background-color:rgb(6, 29, 6) ;">Edit</button></a>
                                      
                                        <button type="button" class="btn m-2 text-white" style="background-color:rgb(169, 19, 19) ">Delete</button></a>
                                     
                                    </td>
                                </tr>
                             {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Blank End -->
