<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>

<body>
    

  
    {{>user-header}}
   

{{{body}}}
<br><br><br><br>
{{>user-footer}}

</body>







<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/slick/slick.min.js"></script>
	<script src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/
      
		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});


		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>
{{!-- =====================add-to-cart========================== --}}
	<script>
		function addToCart(productId){
			//swal("Good job!","Item added to Cart","success");
			//window.location.reload()

  Swal.fire({
      title: 'Add to Cart?',
      text: "Then click to yes, otherwise click to cancel",
      icon: 'success',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
      if (result.isConfirmed) {

		
   $.ajax({
    url: '/addToCart',
    data: {
      
      productId: productId,           
		

    },
     method: 'post',
    success: (response) => {
        console.log(response)
		swal("Good job!","Item added to Cart","success");
       // alert('success')
      

    },
    error: (error) => {
		 console.log(error)
		// alert('failed');
    },
  })
	  }
	})
	
	
}
	</script>
	
	 
	

  {{!-- ===========remove-cart============= --}}
  	<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
	


<script>

  function changeQuantity(cartId, prodId, count, index){
	let quantity = parseInt(document.getElementById(prodId).innerHTML);
    
	$.ajax({
		url : '/changeQuantity',
		data : {
			cartId : cartId,
			prodId : prodId,
			count : count,
			quantity : quantity,
			index : index
		},
		method : 'post',
		success : (responce) => {
			console.log(response);
			if(responce.removeProduct){
				console.log(responce,'changeproductquantity ajax cart.hbs 1');
				Swal.fire('yeeyy!','Product removed successfully','success');

				setTimeout(() => {
					location.reload()
				},2000);

				document.getElementById('totalAmount').innerHTML = '₹.' + responce.totalAmount
			}else{
				console.log(responce,'changeproductquantity ajax cart.hbs 1')
				console.log('price' +prodId);
				document.getElementById(prodId).innerHTML = quantity + count
				document.getElementById('price' +prodId).innerHTML = '₹.' +responce.price
				document.getElementById('totalAmount').innerHTML = '₹.' + responce.totalAmount
			}
		}
	})
  }

 
		function deleteCart(proId, index) {
    event.preventDefault();

    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {

        $.ajax({

          url: '/deleteCart',
          data: {
            product: proId,
                index: index,

          },

          method: 'post',
          success: (response) => {

            if (response) {
                          location.reload()
            }

          }

        })

      }
    })

  }
</script>

{{!-- ----------------addToWishlist-----------------------}}
<script>
function addToWishlist(prodId){
	
 Swal.fire({
      title: 'Add to Wishlist?',
      text: "Then click to yes, otherwise click to cancel",
      icon: 'success',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
      if (result.isConfirmed) {

	$.ajax({
		url:'/addToWishlist',
		data:{
			product:prodId,
		},
		method:'post',

		success : (responce) => {

			if(response){
            
			    location.reload();
				//alert('added to wishlist');
			   
			}
		},

		error : (error) => {
			alert("error");
		}
	})
	  }
	})
}


</script>

{{!-- ------------------deleteWishList------------------------ --}}

<script>
function deleteProduct(prodId){
 event.preventDefault();

    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
      
           $.ajax({
			url : '/deleteWishlist',
			data : {
				 productId : prodId,
			},
			method : 'post',

			success : (responce) =>{

				  location.reload();
				//alert('deleted wishlist');
			},

			
		   })


	  }
	})

}

</script>

{{!-- ---------------deleteAddress------------------------ --}}

<script>
 
   function deleteAddress(addressId){
	 event.preventDefault();
	
     Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {

          $.ajax({
			url:'/deleteAddress',
            data:{
				addressId : addressId
			},
			method : 'post',

			success : (responce) => {

				if(responce){
					location.reload();
					alert('deleted successfully');
				}
			}
		  })
    
	  }
	})
   }

</script>
{{!-- ------------------------change-username--------------------------- --}}

<script>
  function changeUsername(userId){
	 name = document.getElementById("name").value;

	$.ajax({
		url : '/changeUsername',
		data : {
			userId : userId ,
			name : name
		},

		method : 'patch',

		success : (responce) => {
			if(responce){
				location.reload();
			}
		},
		error : (error) => {
			alert(error);
		}
	},)
  };

</script>

{{!-- -------------------change-password--------------------- --}}

<script>
   function changePassword(userId){
	oldpass = document.getElementById("oldpass").value;
	newpass = document.getElementById('newpass').value;
	confirmpass = document.getElementById('confirmpass').value;

	$.ajax({
		url : '/changePassword',
		data : {
			userId : userId,
			oldpass : oldpass,
			newpass : newpass,
			confirmpass : confirmpass
		},

		method : 'patch',

		success : (responce) => {
			if(responce){
              // alert('password changed successfully');
			   location.reload();
			}
		},
		error : (error) => {
           alert('password incorrect, make sure you entered correct password');
			//alert(error)
		}
	})
   }
</script>



{{!-- ----------------------------------------------------------------------------------- --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{{!-- ---------------sweetAlert---------------------------- --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>